/* -------------------------------- spacemono ------------------------------- */

@font-face {
  font-family: spacemono-regular;
  src: url("../../../fonts/english/spacemono/spacemono-regular.woff2") format("woff2"),
    url("../../../fonts/english/spacemono/spacemono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: spacemono-bold;
  src: url("../../../fonts/english/spacemono/spacemono-bold.woff2") format("woff2"),
    url("../../../fonts/english/spacemono/spacemono-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------- monument -------------------------------- */

@font-face {
  font-family: monument-regular;
  src: url("../../../fonts/english/monument-regular/monument-regular.woff2")
      format("woff2"),
    url("../../../fonts/english/monument-regular/monument-regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ------------------------------ marvinvisions ----------------------------- */

@font-face {
  font-family: marvinvisions-bold;
  src: url("../../../fonts/english/marvinvisions/marvinvisions-bold.woff2")
      format("woff2"),
    url("../../../fonts/english/marvinvisions/marvinvisions-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ------------------------------- SF-UI Apple Font ------------------------------- */

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: 100;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-ultralight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-ultralight.otf")
      format("opentype");
}

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: 200;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-thin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-thin.otf") format("opentype");
}

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: 300;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-light.otf") format("opentype");
}

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: 500;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-medium.otf") format("opentype");
}

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: 600;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-heavy.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-heavy.otf") format("opentype");
}

@font-face {
  font-family: sf-ui;
  font-style: normal;
  font-weight: bold;
  src: url("../../../fonts/english/sf-ui/sf-ui-display-bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../../fonts/english/sf-ui/sf-ui-display-bold.otf") format("opentype");
}

/* --------------------------------- anodina -------------------------------- */

@font-face {
  font-family: "anodinaextra_bold";
  src: url("../../../fonts/english/anodina/anodina-extrabold-webfont.woff2")
      format("woff2"),
    url("../../../fonts/english/anodina/anodina-extrabold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anodinaextra_light";
  src: url("../../../fonts/english/anodina/anodina-extralight-webfont.woff2")
      format("woff2"),
    url("../../../fonts/english/anodina/anodina-extralight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anodinabold";
  src: url("../../../fonts/english/anodina/anodina-bold-webfont.woff2")
      format("woff2"),
    url("../../../fonts/english/anodina/anodina-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------- break --------------------------------- */

@font-face {
  font-family: "breakbold";
  src: url("../../../fonts/english/break/break_bold-webfont.woff2") format("woff2"),
    url("../../../fonts/english/break/break_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "breakextralight";
  src: url("../../../fonts/english/break/break_extralight-webfont.woff2")
      format("woff2"),
    url("../../../fonts/english/break/break_extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------- Popins --------------------------------- */

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"),
    url("../../../fonts/english/poppins/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Italic"),
    url("../../../fonts/english/poppins/Poppins-Italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin"),
    url("../../../fonts/english/poppins/Poppins-Thin.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin Italic"),
    url("../../../fonts/english/poppins/Poppins-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraLight"),
    url("../../../fonts/english/poppins/Poppins-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraLight Italic"),
    url("../../../fonts/english/poppins/Poppins-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Light"),
    url("../../../fonts/english/poppins/Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Poppins Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Light Italic"),
    url("../../../fonts/english/poppins/Poppins-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium"),
    url("../../../fonts/english/poppins/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium Italic"),
    url("../../../fonts/english/poppins/Poppins-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold"),
    url("../../../fonts/english/poppins/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold Italic"),
    url("../../../fonts/english/poppins/Poppins-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"),
    url("../../../fonts/english/poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold Italic"),
    url("../../../fonts/english/poppins/Poppins-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraBold"),
    url("../../../fonts/english/poppins/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraBold Italic"),
    url("../../../fonts/english/poppins/Poppins-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Black";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Black"),
    url("../../../fonts/english/poppins/Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: "Poppins Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Black Italic"),
    url("../../../fonts/english/poppins/Poppins-BlackItalic.woff") format("woff");
}
